h1 {
    text-align: center;
    font-style: oblique;
    margin: auto;
}

nav a {
    display: none;
}

nav {
    display: none;
}


header {
    background-color: palevioletred;
    color: ivory;
    margin: 0;
}

.mainrowz {
    display: flex;
}

.sidebar {
    display: none;
    width: 30%;
}

.sidecard {
    width: 200px;
    margin: 5px;
}

.sidecard img {
    width: 100%;
}

.row {
    display: flex;
    flex-flow: wrap;
}

.card {
    width: 200px;
    border: thin solid black;
    box-shadow: 3px 3px 3px grey;
    margin: 5px;
}

.card img {
    width: 100%;
}


h3 {
    color: palevioletred;
    text-align: center;
}

h2 {
    background-color: palevioletred;
    color: ivory;
}

body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

main h2 {
    margin: 0;
}

footer {
    display: none;
}
