body {
    font-family: Arial, Helvetica, sans-serif;
}


.schedule {
    caption-side: bottom;
    border-spacing: 0;
    background-color: pink;
    border-top: thin solid black;
}

.schedule thead tr {
    background-color: rgb(42, 116, 169);
    color: white;
}

.schedule tbody tr:nth-child(even) {
    border-bottom: thin solid black;
    background-color: grey;
}

.schedule tfoot tr {
    background-color: palevioletred;
    color: rgb(13, 130, 21);
}

.num {
    vertical-align: top;
}

.gray {
    background-color: gray;
}
