p {
     color: palevioletred;
    font-size: 14pt;
}
        
header h1 {
    color: turquoise;
    font-size: 24pt;
        }

main h1 { 
    color: coral;
        }
       
h2 {
    color: turquoise;
    font-size: 24pt;
        }
