nav {
    display: flex;
    justify-content: space-evenly;
}

nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #D87093;
}

nav a:hover {
    background-color: #D87093;
    color: #F8E9E9;
    text-decoration: underline;
}

h1 {
    text-align: center;
    color: #D87093;
}

.black a {
    display: block;
    padding: 15px;
    text-decoration: underline;
    color: #050203;
    background-color: #F8E9E9
}

.black {
    text-decoration: none;
    color: #000000;
}


#pink {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #D87093;
    background-color: #F8E9E9
}

/*homepage*/

 .frame {
    text-align: center;
 }

.frame img {
    max-width: 100%;
    width: 75%;
    height: auto;
    display: block;
    margin: 10px auto;
}

.color {
    background-color: #F8E9E9;
}


 /*page 1*/

 .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 }

 .card {
    width: 200px;
    border: thin solid black;
    box-shadow: 3px 3px 3px grey;
    margin: 5px;
}

.card img {
    width: 100%;
}

/*table page 2 CSS*/

.mainrowz {
    display: flex;
    justify-content: space-between;

}

.sidebar {
    width: 30%;
    padding: 20px;
}

.cities {
    caption-side: top;
    border-spacing: 0;
    background-color: #F8E9E9;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.cities thead tr {
    background-color: #D87093;
    color: white;
    text-align: center;
}

.cities tbody tr:nth-child(even) {
    border-bottom: thin solid black;
    background-color: #9FB4BC;
}

.cities tfoot tr {
    background-color: #E9AFC2;
    color: rgb(13, 130, 21);
}

.table {
    margin: auto;
}

caption {
    font-size: 20pt;
}

.align-row {
    display: flex;
    gap: 10px; 
    margin: 15px 0; 
}

fieldset {
    background-color: rgb(237, 216, 219);
    width: 40%;
    margin: auto;
}

legend {
    padding: 20px;
    color: white;
    background-color: rgb(165, 39, 79) ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.align-row {
    display: flex;
    gap: 10px; 
    margin: 15px 0; 
}

.align-row label {
    width: 150px; 
    text-align: right; 
}

.align-row input:not([type='submit']), .align-row select, .align-row textarea {
    padding: 5px 10px;
    background-color: ivory;
}

.align-row input:not([type='submit']):focus, .align-row select:focus, .align-row textarea:focus{ 
    background-color: white;
}

.align-row input:not([type='submit']){
    color: black;
    background-color: ivory;
    padding: 10px; 
}

.spacer {
    width: 150px;
    text-align: right;
}


/*page 3*/

.flex {
    display: flex;
    width: auto;
}

.center {
    text-align: center;
}

.center img {
    max-width: 100%;
    width: 75%;
    height: auto;
    display: block;
    margin: 10px auto;
}

/*mobile*/

@media only screen and (max-width: 500px) {
   main {
        display: flex;
        flex-direction: column;
    }

    .flex, .mainrowz {
        display: flex;
        flex-direction: column;
    }

    .main {
        display: flex;
        flex-direction: column;
        order: 1;
    }
    
    .sidebar {
        order: 2;
        width: 100%;
    }

    .frame iframe{
        width: 100%;
        height: auto;
    }

    fieldset {
        width: 95%;
    }

    nav {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

        .align-row, .check-row {
        flex-direction: column;
    }

    fieldset {
        width: 95%;
    }

    .align-row label, .spacer {
        text-align: left;
    }
}