nav {
    display: flex;
    justify-content: space-evenly;
    background-color: #F8E9E9;
}

nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #D87093;
    background-color: #F8E9E9
}

nav a:hover {
    background-color: #D87093;
    color: #F8E9E9;
    text-decoration: underline;
}

h1 {
    text-align: center;
}

.black a {
    display: block;
    padding: 15px;
    text-decoration: underline;
    color: #050203;
    background-color: #F8E9E9
}

.black {
    text-decoration: none;
    color: #000000;
}


#pink {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #D87093;
    background-color: #F8E9E9
}

/*homepage*/

 .frame {
    text-align: center;
 }

.frame img {
    max-width: 100%;
    width: 75%;
    height: auto;
    display: block;
    margin: 10px auto;
}


 /*page 1*/

 .row {
    display: flex;
    flex-wrap: wrap;
 }

 .card {
    width: 200px;
    border: thin solid black;
    box-shadow: 3px 3px 3px grey;
    margin: 5px;
}

.card img {
    width: 100%;
}

/*table page 2 CSS*/

.mainrowz {
    display: flex;
    justify-content: space-between;

}

.sidebar {
    width: 30%;
    padding: 20px;
}

.cities {
    caption-side: top;
    border-spacing: 0;
    background-color: #F8E9E9;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.cities thead tr {
    background-color: #D87093;
    color: white;
    text-align: center;
}

.cities tbody tr:nth-child(even) {
    border-bottom: thin solid black;
    background-color: #9FB4BC;
}

.cities tfoot tr {
    background-color: #E9AFC2;
    color: rgb(13, 130, 21);
}

.table {
    margin: auto;
}

caption {
    font-size: 20pt;
}

.align-row {
    display: flex;
    gap: 10px; 
    margin: 15px 0; 
}


/*page 3*/

.flex {
    display: flex;
    width: auto;
}

.center {
    text-align: center;
}

.center img {
    max-width: 100%;
    width: 75%;
    height: auto;
    display: block;
    margin: 10px auto;
}

/*mobile*/

@media only screen and (max-width: 480px) {
   main {
        display: flex;
        flex-direction: column;
    }

    .flex {
        display: flex;
        flex-direction: column;
    }

    .main {
        display: flex;
        flex-direction: column;
        order: 1;
    }
    
    .sidebar {
        order: 2;
        width: 100%;
    }

    .frame iframe{
        width: 100%;
        height: auto;
    }

    fieldset {
        width: 95%;
    }

    nav {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    
}