h1 {
    text-align: center;
    font-style: oblique;
}

nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: palevioletred;
    background-color: ivory
}

nav {
    display: flex;
    justify-content: space-evenly;
    background-color: ivory;
}

nav a:hover {
    background-color: palevioletred;
    color: ivory;
    text-decoration: underline;
}

header {
    background-color: palevioletred;
    color: ivory;
    margin: 0;
}

.mainrow {
    display: flex;
}

.sidebar {
    width: 200px;
}

.row {
    display: flex;
    flex-flow: wrap;
}

.card {
    width: 200px;
    border: thin solid black;
    box-shadow: 3px 3px 3px grey;
    margin: 5px;
}

.card img {
    width: 100%;
}


h3 {
    color: palevioletred;
    text-align: center;
}

h2 {
    background-color: palevioletred;
    color: ivory;
}

body {
    margin: 0;
}

main h2 {
    margin: 0;
}

