/* h1 {
    text-align: center;
    font-style: oblique;
}

nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: palevioletred;
    background-color: ivory
}

nav {
    display: none;
}

nav a:hover {
    background-color: palevioletred;
    color: ivory;
    text-decoration: underline;
}

header {
    background-color: palevioletred;
    color: ivory;
    margin: 0;
}

.mainrow {
    display: flex;
}

.sidebar {
    width: 200px;
    display: none;
}

.row {
    display: flex;
    flex-flow: wrap;
}

.card {
    width: 200px;
    border: thin solid black;
    box-shadow: 3px 3px 3px black;
    margin: 5px;
}

.card img {
    width: 100%;
}


h3 {
    color: palevioletred;
    text-align: center;
}

h2 {
    background-color: palevioletred;
    color: ivory;
}

body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

main h2 {
    margin: 0;
} */

@media ONLY screen AND (max-width: 500px) {
    nav {
        flex-direction: column;
        text-align: center;
    }

    .mainrow {
        flex-direction: column-reverse;
    }

    .card {
        width: 100%;
    }

    .sidebar {
        width: 100%;
    }

    .maincard {
        order: -1;
    }
    
}
