nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #D87093;
    background-color: #F8E9E9
}

nav {
    display: flex;
    justify-content: space-evenly;
    background-color: #F8E9E9;
}

nav a:hover {
    background-color: #D87093;
    color: #F8E9E9;
    text-decoration: underline;
}

.mainrowz {
    display: flex;
    justify-content: space-between;

}

.sidebar {
    width: 30%;
    padding: 20px;
}

.songs {
    caption-side: top;
    border-spacing: 0;
    background-color: #F8E9E9;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.songs thead tr {
    background-color: #D87093;
    color: white;
    text-align: center;
}

.songs tbody tr:nth-child(even) {
    border-bottom: thin solid black;
    background-color: #9FB4BC;
}

.songs tfoot tr {
    background-color: #E9AFC2;
    color: rgb(13, 130, 21);
}

.table {
    margin: auto;
}

h1 {
    text-align: center;
    font-family: fantasy;
    color: #274C77;
    background-color: #f8f1f1;
}

